@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-Regular.ttf');
}
  
:root{
    --primary-color: #8E1E17;
    --bg-color: #242526;
    --body-bg: #18191A;
    --light-text: #888181;
}

body {
    background-color: var(--body-bg);
    font-family: "Montserrat";
    color: #fff;
}

.btn-main {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 7px 20px;
    color: #fff;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
}
.btn-main:hover{
    background-color: var(--body-bg);
}

.btn-main.btn-border{
    background-color: var(--body-bg);
}

.btn-main.btn-border:hover{
    background-color: var(--primary-color);
}

.bg-color{
    background-color: var(--bg-color);
}
.h-full {
    height: 100vh;
}